<template>
    <div class="upload">
        <div id="box">
            <input id="fileInput" type="file" @change="onFileChanged" multiple>
            <button id="uploadButton" @click="onUpload">Upload</button>
            <progress id="progress" max="100" :value.prop="uploadPercentage"></progress>
        </div>
    <!-- <code>{{ this.$keycloak.token }}</code> -->
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: 'Upload',

    data() {
        return {
            selectedFiles: null,
            uploadPercentage: 0
        }
    },
    methods: {
        onFileChanged (event) {
            this.selectedFiles=event.target.files
        },
        onUpload() {
            // let accessToken;
            // if (localStorage.getItem('vue-token'))
            //     accessToken = localStorage.getItem('vue-token');
            //axios.post('http://localhost:8000/upload/', this.selectedFile)         //Send as Binary Data

            const formData = new FormData()                                     //Send as Form Data
            for (const i of Object.keys(this.selectedFiles)){
                formData.append('images', this.selectedFiles[i])
            }
            //formData.append('image', this.selectedFile, this.selectedFile.name)
            axios.post('https://eyecandygallerydemo.duckdns.org/api/upload', formData, {
                headers: {
                    'Authorization': 'Bearer ' + this.$keycloak.token,
                    'Content-Type': 'multipart/form-data',
                    'json': false
                },
                onUploadProgress: function(progressEvent) {
                    this.uploadPercentage = parseInt(Math.round((progressEvent.loaded / progressEvent.total) * 100));
                }.bind(this)
            }).then((res) => {
                console.log(res)
            })
        }
    }
}

</script>

<style scoped>
#box{
    position: relative;
    top: 6rem;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 10%;
    padding-bottom: 10%;
    border: darkgray;
    border-style: dashed;
    border-width: 3px;
    border-radius: 5%;
    text-align: center;
}
#uploadButton{
    background-color: lightgreen;
    border-style: solid;
    border-color: green;
    border-radius: 5px;
    border-width: 3px;
    padding: 2rem;
}
#fileInput{
    position: relative;
    background-color: lightgray;
    border-style: solid;
    border-radius: 5px;
    border-width: 3px;
    padding: 1rem;
    margin-right: 1rem;
}
#progress{
    width: 80%;
    margin-top: 3rem;
}
</style>
