<template>
    <header class="header">
    <label for="hamburger">&#9776;</label>
    <input type="checkbox" id="hamburger" v-model="checked" v-bind:value="navVisible" />
        <div id="nav">
            <router-link @click.native="hideNav()" to="/">Home</router-link>
            <router-link @click.native="hideNav()" to="/upload">Upload</router-link>
            <a class="logout" v-if="authenticated" @click="logout()">Logout</a>
        </div>
    </header>
</template>

<script>
import { EventBus } from '../../event-bus.js';
export default {
    name: "Header",
    data() {
        return {
            authenticated: false,
            checked: false,
            navVisible: true,
        }
    },
    created () {
       EventBus.$on('login', () => {this.authenticated=true});
       EventBus.$on('logout', () => {this.authenticated=false});
    },
    methods: {
        logout() {
            this.$keycloak.logout();
            EventBus.$emit('logout');
        },
        hideNav() {
            this.navVisible = false;
            this.checked = false;
        }
    },
}
</script>

<style scoped>
.header {
    background: lightseagreen;
    /* padding-top: 1rem; */
    /* padding-bottom: 1rem; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    position:fixed; /* fixing the position takes it out of html flow - knows
                   nothing about where to locate itself except by browser
                   coordinates */
    left:0;           /* top left corner should start at leftmost spot */
    top:0;            /* top left corner should start at topmost spot */
    right: 0;
    width:100vw;      /* take up the full browser width */
    z-index:9;  /* high z index so other content scrolls underneath */
    /* height: 5rem; */
    padding-top: 1rem;
}

label, #hamburger { display: none; }
#nav {
    font-family: "overpass-mono-light", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 18pt;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

router-link, a{
    color: rgb(255, 202, 132);
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
}

.logout{
    border-style: solid;
    border-radius: 3px;
    border-width: 2px;
    border-color: lightgreen;
    padding-top: 0.3rem;
}

@media only screen and (max-width: 600px) {
    .header {
        position: fixed;
        top: 0;
        right: 0;
        margin-top: 0;
        padding-top: unset;
        text-align: right;
    }
    label {
        margin-right: 5px;
        display: inline-block;
        color: black;
        font-size: 1.2em;
        padding: 10px;
        font-style: normal;
    }
    a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-top: 3px solid black;
        background-color: black;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #nav {
        display: none; 
        padding: 0;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    input:checked ~ #nav {display: block;}

    .slide-fade-enter-active {
        transition: all .3s ease;
    }
    .slide-fade-leave-active {
        transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
        transform: translateX(10px);
        opacity: 0;
    }
}

</style>
