<template>
  <div id="home">
    <Gallery v-bind:images="images" v-bind:imagesUrl="imagesUrl" />
  </div>
</template>

<script>
// @ is an alias to /src
import Gallery from '../components/Gallery';
import  axios from 'axios'; 
import { EventBus } from '../event-bus.js';

export default {
  name: 'Home',
  components: {
    Gallery
  },
  data() {
    return {
      images: [],
      imagesUrl: 'https://eyecandygallerydemo.duckdns.org/api/images/',
      bottom: false,
      scrollCursorCount: 0,
      finalArray: false,
    }
  },
  methods: {
    bottomVisible() {
      const scrollY = window.scrollY
      const visible = document.documentElement.clientHeight + 100
      const pageHeight = document.documentElement.scrollHeight
      const bottomOfPage = visible + scrollY >= pageHeight
      return bottomOfPage || pageHeight < visible
    },
    addImages() {
      if (!this.finalArray) {     //was the last array empty?
        EventBus.$emit('loading');
        axios({
          method: 'get',
          url: this.imagesUrl + '?skip=' + this.scrollCursorCount,
        })
        .then( res => {
          if (!res.data.length){    //if the array is empty, stop polling the backend
            this.finalArray = true;
          }
          res.data.forEach(element => this.images.push({
            id: element.id,
            thumbnail_base64: element.thumbnail_base64,
            full_size_url: element.full_size_url,
            upload_date: element.upload_date,
          }))
          EventBus.$emit('loading');
          if (this.bottomVisible()) {
            this.addImages();
          }
        })
        .catch(err => console.log(err))
        this.scrollCursorCount = this.scrollCursorCount + 10
      }
    }
  },
  watch: {
    bottom(bottom) {
      if(bottom) {
        this.addImages()
      }
    }
  },
  created() {
    window.addEventListener('scroll', () => {
      this.bottom = this.bottomVisible()
    })
    this.addImages()
    //axios({
    //  method: 'get',
    //  url: this.imagesUrl,
    //})
    //.then(res => this.images = res.data)
    //.catch(err => console.log(err));
  }
}
</script>

<style scoped>
#home {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
