<template>
    <div class="gallery-item" v-if="visible">  
        <!-- <img class="thumbnailImage" @click="$refs.modalName.openModal()" :src=image.url /> -->
        <img class="thumbnailImage" @click="$refs.modalName.openModal()" :src="'data:image/jpeg;base64,' + image.thumbnail_base64" />
        <div class="toolbarFooter" v-if="this.$keycloak.authenticated">
            <!-- <button @click="$refs.modalName.openModal()">open</button> -->
            <button id="deleteButton" @click="onDelete">Delete</button>
        </div>
            <!-- <img :src="`data:image,` + image /> -->
        <LargeSizeModal ref="modalName">
            <template v-slot:header>
            </template>
            <template v-slot:body>
                <img class="fullImage" :src="imagesUrl + 'full_size/' + image.full_size_url" @load="onLoaded" />
                <transition name="fade">
                    <Spinner id="spinner" v-if="loading" />
                </transition>
            </template>
            <template v-slot:footer>
                <div>
                    <button id="closebutton" @click="$refs.modalName.closeModal()">✕</button>
                </div>
                <div>
                    <button id="infobutton">i</button>
                </div>
                <div>
                    <button id="sharebutton"></button>
                </div>
            </template>
        </LargeSizeModal>
    </div>
</template>

<script>
import LargeSizeModal from "./LargeSizeModal";
import Spinner from "./Spinner";
import axios from 'axios';

export default {
    name: "GalleryItem",
    props: ["image", "imagesUrl"],
    components: {
        LargeSizeModal, Spinner,
    },
    data() {
        return {
            loading: true,
            visible: true,
        }
    },
    methods: {
        onDelete() {
            //let accessToken;
            //if (localStorage.getItem('vue-token'))
            //    accessToken = localStorage.getItem('vue-token');

            const formData = new FormData()
            formData.append('id', this.image.id)
            // axios.delete('http://localhost:8000/files/', formData, {
            axios.delete(
                this.imagesUrl + this.image.id, {
                headers: {
                    'Authorization': 'Bearer ' + this.$keycloak.token,
                    'Content-Type': 'multipart/form-data',
                    'json': false
                },
                formData
            })
            this.visible = false;
        },
        onLoaded() {
            this.loading = false;
        }
    },
};
</script>

<style scoped>

.gallery-item {
    background: lightgray;
    padding-bottom: 0;
    margin-bottom: 0;
}

.thumbnailImage {
    /* width: 400px; */
    /* height: 400px; */
    width: 100%;
    max-height: 20rem;
    min-height: 20rem;
    object-fit: cover;
    display: block;
}
.overflow-hidden {
    overflow: hidden;
}
.fullImage {
    position: relative;
    /* top: 0px; */
    /* bottom: 0px; */
    height: 90vmin;
    /* max-height: 100%; */
    /* max-height: 80vh; */
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#closebutton, #infobutton, #sharebutton {
    background-color: transparent;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    font-size: 3rem;
    background-color:rgb(51, 206, 206);
    margin-top: 1rem;
}
#spinner{
    position: fixed;
    bottom: 50%;
    right: 50%;
    transform: translate(+50%);
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}
</style>
