<template>
    <div class="container">
        <div id="leftbox"></div>
        <div class="gallery">
            <div id="images" v-bind:key="image.id" v-for="image in images" >
                <GalleryItem v-bind:image="image" v-bind:imagesUrl="imagesUrl" />
            </div>
        </div>
        <div id="rightbox"></div>
        <transition name="fade">
            <Spinner id="spinner" v-if="loading" />
        </transition>
    </div>
</template>

<script>
import GalleryItem from './GalleryItem.vue';
import Spinner from './Spinner.vue';
import { EventBus } from '../event-bus.js'

export default {
    name: "Gallery",
    components: {
        GalleryItem, Spinner,
    },
    data() {
        return {
            loading: true
        }
    },
    created () {
       EventBus.$on('loading', () => {this.loading=!this.loading});
    },
    props:["images", "imagesUrl"]
}
</script>

<style scoped>
.container {
    display: grid;
    grid-template-columns: minmax(0, 20vw) auto minmax(0, 20vw);
}
#leftbox, #rightbox{
    max-width: 10vw;
}
.gallery {
    /* margin-left: 20vw; */
    /* margin-right: 20vw; */
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 18px;
    margin-bottom: 50px;
}
/* @media only screen and (max-width: 600px) {
  .gallery {
    margin-left: 0;
    margin-right: 0;
  }
} */
#spinner{
    position: fixed;
    bottom: 100px;
    right: 50%;
    transform: translate(+50%);
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}
</style>
