<template>
    <div tabindex="0" @click="closeModal()" @keydown.esc="closeModal()">
    <transition name="fade">
        <div class="modal" v-if="show">
            <div class="modalBackdrop">
                <div class="modalDialog">
                    <div class="modalHeader">
                        <slot name="header" />
                    </div>

                    <div class="modalBody">
                        <slot name="body" />
                    </div>

                    <div class="modalFooter">
                        <slot name="footer" />
                    </div>
                </div>
            </div>
        </div>
    </transition>
    </div>
</template>

<script>
export default {
    name: "LargeSizeModal",
    data(){
        return {
            show: false
        };
    },
    methods: {
        closeModal() {
            this.show = false;
            document.querySelector("body").classList.remove("overflow-hidden");
        },
        openModal() {
            this.show = true;
            document.querySelector("body").classList.add("overflow-hidden");
        }
    }
}
</script>

<style scoped>

.modal {
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    /* right: 5%; */
    /* bottom: 10%; */
    /* top: 2%; */
    /* left: 5%; */
    /* bottom: 10px; */
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.modalDialog {
    position: relative;
    height: 100%;
    width: 100%;
    /* bottom: 0px; */
    /* display: grid; */
    /* grid-auto-rows: auto; */
    /* grid-template-rows: 10px fr 1rem; */
    /* grid-template-columns: 100%; */
}

/* .modalBackdrop { */
    /* background-color: gray; */
    /* position: relative; */
    /* padding-bottom: 1rem; */
    /* height: 100%; */
    /* width: 100%; */
    /* width: 600px; */
    /* margin: 50px auto; */
    /* display: flex; */
    /* flex-direction: column; */
    /* border-radius: 5px; */
    /* z-index: 2; */
/* } */

.modalClose {
    width: 20px;
    height: 20px;
}

.modalHeader {
    position: relative;
    top: 0;
    height: 1rem;
}

.modalBody {
    /* padding: 10px 20px 20px; */
    /* height: 100%; */
    /* overflow: auto; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: stretch; */
    position: relative;
    top: 2rem;
    height: 100%;
    width: 100%;
    /* background-color: black; */
}

.modalFooter {
    position: fixed;
    top: 3rem;
    /* height: 1rem; */
    right: 4rem;
}

@media only screen and (max-width: 600px) {
  .modalFooter {
    position: fixed;
    top: unset;
    bottom: 50px;
    right: 0;
    left: 0;
    /* height: 1rem; */
    display: grid;
    grid-auto-flow: column;
    direction: rtl;
  }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}

</style>