<template>
    <div>
        <div class="spinner">
            <img src='../assets/810.svg' />
        </div>
    </div>
</template>

<script>
export default {
    name: "Spinner",
}
</script>

<style scoped>
.spinner{
    border-radius: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 64px;
}
</style>