<template>
  <div id="app">
    <Header />
    <router-view />
  </div>
</template>

<script>
import Header from './components/layout/Header';
export default {
  name: "app",
  components: {
    Header
  }
}
</script>

<style>
@font-face {
  font-family: "overpass-mono-light";
  src: local("overpass-mono-light"),
  url(./assets/Overpass-3.0.4/webfonts/overpass-mono-webfont/overpass-mono-light.ttf) format("truetype")
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

/* #nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
  margin-left: 10px;
  margin-right: 10px;
}

#nav a.router-link-exact-active {
  color: salmon;
} */

body {
  margin: 0;

}
</style>
